*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: white;
    --secondary-color: black;
    --primary-rgb: rgba(0,0,0,0.3);
    --secondary-rgb: rgba(255,255,255,0.3);
}
.theme{
    --primary-color: black;
    --secondary-color: white;
    --secondary-rgb: rgba(0,0,0,0.3);
    --primary-rgb: rgba(255,255,255,0.3);
}
body{
    width: 100%;
    height: 90vh;
    background: var(--primary-color);
}
header{
    width: 100%;
    height: 50px;
    background: linear-gradient(
        135deg,
        #09203F,
        #537895
    );
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0px;
}
.name{
    color: white;
    margin-left: 15px;
}
ul{
   margin-right: 15px;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
    width: 50px;
    height: 10px;
    padding: 2.5px 5px;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.2s;
    border-right: 2px solid whitesmoke;
    border-radius: 10px;
    border-left: 2px solid whitesmoke;
    text-align: center;
}
ul li a:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: none;
    border-left: none;
    border-radius: 10px;
}
.menu-page{
   display: none;
}
.menuPage{
    position: fixed;
    width: 65%;
    height: 94%;
    top: 50px;
    display: block;
    right: 0;
    background: linear-gradient(
        315deg,
         #1d0000,
         #20205b
    );
    transition: all 0.25s;
}
#close{
    border: 2px solid black;
    background: transparent;
    font-size: 30px;
    width: 40px;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    height: 40px;
    position: relative;
    text-align: center;
}
.menu-page ul li a{
    display: block;
    margin: 20px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 105%;
    height: 40px;
  /*  margin-left: 10px;*/
    text-align: left;
    border-left: none;
    border-right: none;
    color: white;
    padding-left: 15px;
    font-weight: 500;
    padding-top: 5px;
}
.theme-body{
    width: 160px;
    height: 60px;
    background: var(--primary-color);
    border-radius: 30px;
    margin: auto;
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-body-background{
    width: 90%;
    height: 80%;
    background: black;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url("day.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: 0.5px solid var(--secondary-color);
}
.theme-body-circle{
    position: absolute;
    margin-left: 6px;
    backdrop-filter: blur(10px);
    width: 39px;
    height: 39px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}
.theme-body-circle-active{
    right: 6px;
}
.theme-body-background-active{
    background: url('night.png');
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    width: 100%;
    height: 55px;
    background: linear-gradient(
        135deg,
        #614385,
        #93A5CF
    );
    position: fixed; 
    display: flex;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    bottom: 0px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: rgba(0,0,0,0.4);
    padding: 2.5px;
    border-bottom: 2px solid white;
}
.head-txt{
    text-align: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(
        90deg,
        blueviolet,
        orangered
    );
    color: var(--primary-color);
    padding: 2.5px;
    margin-top: 50px;
}
.gradient-box-1{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-1 h2{
    display: inline-block;
}
.gradient-box-1 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-1 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-1 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-1{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #2E3192,
        #1BFFFF
    );
}

.gradient-box-2{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-2 h2{
    display: inline-block;
}
.gradient-box-2 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-2 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-2 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-2{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #C33764,
        #1D2671
    );
}

.gradient-box-3{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-3 h2{
    display: inline-block;
}
.gradient-box-3 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-3 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-3 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-3{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #FFECD2,
        #FCB69F
    );
}

.gradient-box-4{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-4 h2{
    display: inline-block;
}
.gradient-box-4 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-4 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-4 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-4{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #A1C4FD,
        #C2E9FB
    );
}

.gradient-box-5{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-5 h2{
    display: inline-block;
}
.gradient-box-5 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-5 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-5 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-5{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #93A5CF,
        #E4EfE9
    );
}

.gradient-box-6{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-6 h2{
    display: inline-block;
}
.gradient-box-6 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-6 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-6 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-6{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #A9F1DF, 
        #FFBBBB
    );
}

.gradient-box-7{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-7 h2{
    display: inline-block;
}
.gradient-box-7 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-7 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-7 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-7{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #D8B5FF, 
        #1EAE98
    );
}

.gradient-box-8{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-8 h2{
    display: inline-block;
}
.gradient-box-8 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-8 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-8 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-8{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #FF61D2, 
        #FE9090
    );
}

.gradient-box-9{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-9 h2{
    display: inline-block;
}
.gradient-box-9 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-9 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-9 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-9{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #EA8D8D,
        #A890FE
    );
}

.gradient-box-10{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-10 h2{
    display: inline-block;
}
.gradient-box-10 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-10 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-10 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-10{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #4E65FF,
        #92EFFD
    );
}

.gradient-box-11{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-11 h2{
    display: inline-block;
}
.gradient-box-11 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-11 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-11 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-11{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #09203F,
        #537895
    );
}

.gradient-box-12{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-12 h2{
    display: inline-block;
}
.gradient-box-12 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-12 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-12 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-12{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #868F96,
        #596164
    );
}

.gradient-box-13{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-13 h2{
    display: inline-block;
}
.gradient-box-13 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-13 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-13 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-13{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #BFF098,
        #6FD6FF
    );
}

.gradient-box-14{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-14 h2{
    display: inline-block;
}
.gradient-box-14 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-14 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-14 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-14{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #FDFCFB,
        #E2D1C3
    );
}

.gradient-box-15{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-15 h2{
    display: inline-block;
}
.gradient-box-15 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-15 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-15 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-15{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #764BA2,
        #667EEA
    );
}

.gradient-box-16{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-16 h2{
    display: inline-block;
}
.gradient-box-16 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-16 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-16 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-16{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #C6EA8D,
        #FE90AF
    );
}

.gradient-box-17{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-17 h2{
    display: inline-block;
}
.gradient-box-17 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-17 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-17 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-17{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #11998E,
        #38EF7D
    );
}

.gradient-box-18{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-18 h2{
    display: inline-block;
}
.gradient-box-18 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-18 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-18 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-18{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #FF5F6D,
        #FFC371
    );
}

.gradient-box-19{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-19 h2{
    display: inline-block;
}
.gradient-box-19 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-19 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-19 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-19{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #D4145A,
        #FBB03B
    );
}

.gradient-box-20{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-20 h2{
    display: inline-block;
}
.gradient-box-20 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-20 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-20 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-20{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #009245,
        #FCEE21
    );
}

.gradient-box-21{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-21 h2{
    display: inline-block;
}
.gradient-box-21 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-21 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-21 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-21{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #662D8C,
        #ED1E79
    );
}

.gradient-box-22{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-22 h2{
    display: inline-block;
}
.gradient-box-22 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-22 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-22 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-22{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #EE9CA7,
        #FFDDE1
    );
}

.gradient-box-23{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-23 h2{
    display: inline-block;
}
.gradient-box-23 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-23 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-23 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-23{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #614385,
        #516395
    );
}

.gradient-box-24{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-24 h2{
    display: inline-block;
}
.gradient-box-24 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-24 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-24 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-24{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #02AABD,
        #00CDAC
    );
}

.gradient-box-2{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-2 h2{
    display: inline-block;
}
.gradient-box-2 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-2 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-2 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-2{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #C33764,
        #1D2671
    );
}

.gradient-box-25{
    width: 100%;
    height: 325px;
    background: var(--primary-color);
    margin-top: 20px;
}
.gradient-box-25 h2{
    display: inline-block;
}
.gradient-box-25 h2:first-child{
    background: var(--primary-rgb);
    padding: 5px 9px;
    color: var(--secondary-color);
}
.gradient-box-25 h2:nth-child(2){
    color: var(--secondary-color);
    margin-left: 10px;
}
.gradient-box-25 h4{
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
.gradient-25{
    width: 90%;
    height: 200px;
    margin: auto;
    box-shadow: 4px 4px 12px 0px var(--primary-rgb);
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        #FF512F,
        #DD2476
    );
}
